language: java
os:
  - linux
jdk:
  - oraclejdk8
  - oraclejdk7

before_install:
  - "[[ -f $HOME/cache/$CONTAINER_ZIP ]] || wget $URL -P $HOME/cache"


before_script:
  - unzip $HOME/cache/$CONTAINER_ZIP -d $HOME
  - " [[ \"$CONTAINER\" != \"tomcat\" ]] || chmod +x $HOME/$CONTAINER_HOME/bin/*.sh"

script:
  - mvn checkstyle:check
  - mvn test -DskipTests=false -D${CONTAINER}.home="$HOME/$CONTAINER_HOME" -pl ":$CONTAINER"

env:
  - CONTAINER=karaf
    URL="http://central.maven.org/maven2/org/apache/karaf/apache-karaf/$KARAF_VERSION/apache-karaf-$KARAF_VERSION.zip"
    CONTAINER_HOME="apache-karaf-$KARAF_VERSION"
    CONTAINER_ZIP="apache-karaf-$KARAF_VERSION.zip"
  - CONTAINER=wildfly
    URL="http://download.jboss.org/wildfly/$WILDFLY_VERSION/wildfly-$WILDFLY_VERSION.zip"
    CONTAINER_HOME="wildfly-$WILDFLY_VERSION"
    CONTAINER_ZIP="wildfly-$WILDFLY_VERSION.zip"
  - CONTAINER=wildfly
    URL="http://download.jboss.org/wildfly/$WILDFLY_11_VERSION/wildfly-$WILDFLY_11_VERSION.zip"
    CONTAINER_ZIP="wildfly-$WILDFLY_11_VERSION"
    CONTAINER_HOME="wildfly-$WILDFLY_11_VERSION"
  - CONTAINER=tomcat
    URL="http://central.maven.org/maven2/org/apache/tomcat/tomcat/$TOMCAT_VERSION/tomcat-$TOMCAT_VERSION.zip"
    CONTAINER_HOME="apache-tomcat-$TOMCAT_VERSION"
    CONTAINER_ZIP="tomcat-$TOMCAT_VERSION.zip"
  - CONTAINER=fuse
    URL="http://origin-repository.jboss.org/nexus/content/groups/ea/org/jboss/fuse/jboss-fuse-full/$FUSE_VERSION/jboss-fuse-full-$FUSE_VERSION.zip"
    CONTAINER_HOME="jboss-fuse-$FUSE_VERSION"
    CONTAINER_ZIP="jboss-fuse-full-$FUSE_VERSION.zip"

matrix:
  exclude:
    - jdk: oraclejdk7
      env: CONTAINER=wildfly
           URL="http://download.jboss.org/wildfly/$WILDFLY_VERSION/wildfly-$WILDFLY_VERSION.zip"
           CONTAINER_HOME="wildfly-$WILDFLY_VERSION"
           CONTAINER_ZIP="wildfly-$WILDFLY_VERSION.zip"
    - jdk: oraclejdk7
      env: CONTAINER=wildfly
           URL="http://download.jboss.org/wildfly/$WILDFLY_11_VERSION/wildfly-$WILDFLY_11_VERSION.zip"
           CONTAINER_ZIP="wildfly-$WILDFLY_11_VERSION"
           CONTAINER_HOME="wildfly-$WILDFLY_11_VERSION"

cache:
  directories:
  - $HOME/cache
  - $HOME/.m2
